.header-logo {
  height: 36px;
}

a {
  text-decoration: none;
  color: #424242;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 80px;
  margin: auto;
}

.header-nav {
  display: flex;
  gap: 30px;
  padding: 0;
}

.header-nav li {
  list-style: none;
  font-weight: 600;
}

.header-nav .active a {
  color: #5a47ab;
}
